.DS_Store
Build/**/*
DerivedData
xcuserdata
*.xccheckout
instrumentscli*.trace
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
profile
*.moved-aside

DerivedData

