.DS_Store
xcuserdata
*.xccheckout
instrumentscli*.trace
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
*.moved-aside
**/*.xcworkspace/**

DerivedData
**/Build/**/*
**/Build-command-line/**/*

# AppCode
.idea

# Etc
.phrase

