<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kingpin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D25B6B801C6A7A4B0089AEE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25B6B941C6A7A4B0089AEE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25B6B9F1C6A7A4B0089AEE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
